<div class="container" style="margin-top:10px;">

	<div class="jumbotron">
		<h1><?=$this->translate('hello');?>, My Test Exam</h1>
		<p>...</p>
	</div>



    <div class="jumbotron jumbotron-fluid">
        <div id="findx">
            <h2 class="display-4">find 3,5,9,15,X</h2> <br/>
            <h3>X is <?=$this->x?></h3>
        </div>
    </div>

    <div class="row">
    </div>

    <div class="row">
        <div id="app3" class="col-12">
            <h2>The restaurants in Bangsue area</h2> 
            <ul class="list-group">
                <li v-for="post of posts" class="list-group-item">

                    <img :src="post.icon" />
                    <span>{{ post.name }}</span>
                    
                    <span>( {{ post.vicinity }} )</span>
                </li>
            </ul>
        </div>
    </div> 

    <div id="app4" class="col-12">

        
    </div>
    <div id="components-demo">
    <button-showresult></button-showresult>
    </div>
</div>
           




 <script src="//cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>